story,
Canvas {
  display: block;
  height: 64px;
  width: 100%;
  background-color: #eee;
  border-radius: 3px;
}

story:before,
Canvas:before {
  content: attr(name) ' story';
  text-align: center;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

meta {
  display: block;
  height: 64px;
  width: 100%;
  background-color: #eee;
  border-radius: 3px;
}
meta:before {
  content: 'Meta: ' attr(title) ' story';
  text-transform: capitalize;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

iframe {
  position: absolute;
  display: block;
  box-sizing: content-box;
  height: 100%;
  width: 100%;
  border: none;
}

/* Markdown formatting */
body {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  background-color: #fff;
  font-size: 16px;
  line-height: 24px;
  line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1em;
}

h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
  margin-top: 0 !important;
}

h2:not(:first-child) {
  margin-top: 2.5rem;
}

hr {
  margin: 3em 0;
}

h1 {
  font-size: 32px;
  line-height: 1;
  font-weight: 900;
  line-height: 36px;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 24px;
  line-height: 1;
  font-weight: 800;
  line-height: 32px;
  margin-bottom: 1rem;
}

h3 {
  font-size: 20px;
  line-height: 1;
  font-weight: 800;
  line-height: 28px;
  margin: 2.5rem 0 0.5rem;
}

h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  margin: 1.5rem 0 0.25rem;
}

h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #666;
  margin: 2rem 0 0.25rem;
}

p {
  margin: 1.5em 0;
  position: relative;
}

p:first-of-type:not(:only-of-type) {
  margin-top: 0;
}

p:only-of-type {
  margin: 0;
}

p a,
li a {
  color: #026fb3;
  font-weight: 400;
}

p a:link,
li a:link,
p a:visited,
li a:visited {
  color: #026fb3;
}

p a:active,
li a:active {
  color: #015f9a;
}

figure {
  clear: both;
  margin: 1em 0;
}

figure figcaption {
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

img {
  display: inline-block;
  padding: 1rem;
  max-width: 100%;
  position: relative;
  vertical-align: top;
}

img.alignright {
  float: right;
  margin-right: 0;
}

img.alignleft {
  float: left;
  margin-left: 0;
}

img.aligncenter {
  display: block;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

blockquote {
  border-left: 2px solid #1ea7fd;
  color: #666;
  margin: 1em 0;
  padding: 0.75em 20px 0.75em 30px;
}

blockquote p:only-of-type {
  margin: 0;
}

ol,
ul {
  list-style-position: outside;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  padding-left: 30px;
}

ol li,
ul li {
  margin-bottom: 0.5rem;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

div[class*='language-'] {
  margin: 1.5em 0;
}

div[class*='language-'] + .aside {
  margin-top: -1.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.highlight {
  font-size: 14px;
  line-height: 20px;
  overflow-x: auto;
  margin: 0;
}

.highlight table {
  width: 100%;
}

.highlight .gutter {
  width: 40px;
}

.highlight .gutter pre {
  margin: 0;
  padding: 1em 10px;
  text-align: right;
}

.highlight .code pre {
  overflow-y: auto;
  overflow-x: auto;
  padding: 1em 15px 1em 20px;
  margin: 0;
  white-space: pre;
}

dl {
  padding-left: 30px;
  margin: 0;
}

dl:not(:last-of-type) {
  margin-bottom: 1em;
  margin-top: 1em;
}

dl dt {
  font-weight: 700;
}

dl dt:not(:first-child) {
  margin-top: 1em;
}

dl dt code {
  line-height: inherit;
}

dl dd {
  margin: 0;
}

table {
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  border-collapse: collapse;
  width: 100%;
  margin: 2rem 0;
}

table a {
  color: #026fb3;
}

table a:link,
table a:visited {
  color: #026fb3;
}

table a:active {
  color: #015f9a;
}

table tr {
  border-top: 1px solid #eee;
  background-color: white;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table tr th {
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 3px 3px 0 0;
  text-align: left;
  margin: 0;
  padding: 0.5rem 0.75rem;
}

table tr td {
  border: 1px solid #ddd;
  text-align: left;
  margin: 0;
  padding: 0.5rem 1rem;
}

table tr th :first-child,
table tr td:first-child {
  margin-top: 0;
}

table tr th :last-child,
table tr td:last-child {
  margin-bottom: 0;
}

.aside {
  font-size: 14px;
  line-height: 20px;
  background: #f6f9fc;
  color: #444;
  border-radius: 4px;
  padding: 1em;
}

.aside a {
  color: #1ea7fd;
  font-weight: 400;
}

.aside a:link,
.aside a:visited {
  color: #1ea7fd;
}

.aside a:active {
  color: #059dfd;
}

video {
  max-width: 100%;
}

details {
  margin: 1.5em 0;
}

details h1,
details h2,
details h3,
details h4 {
  display: inline;
}

details:not([open]) + details {
  margin-top: -1em;
}

details > summary {
  display: list-item;
  cursor: pointer;
  color: #026fb3;
}

details > summary:link,
details > summary:visited {
  color: #026fb3;
}

details > summary:active {
  color: #015f9a;
}

details[open] {
  position: relative;
}

details[open]:before {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  content: '';
  height: 100%;
  left: 4px;
  position: absolute;
  top: calc(28px + 1em);
  height: calc(100% - 2.4rem);
}

details[open] > summary {
  margin-bottom: 1em;
}

details[open] > summary ~ * {
  margin-left: 30px;
}

details > summary::-webkit-details-marker {
  height: 10px;
  width: 10px;
}

a,
.link {
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  display: inline-block;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
}

a:hover,
.link:hover {
  cursor: pointer;
  transform: translate3d(0, -1px, 0);
}

a:active,
.link:active {
  transform: translate3d(0, 0, 0);
}

a:focus,
.link:focus {
  outline: none;
}

a:link,
.link:link,
a:visited,
.link:visited {
  color: #444;
}
